#calculator{
	width: 250px;
	height: 350px;
	text-align: center;
	border:3px solid gray;
	box-shadow: 0 5px 5px 0;
	background:DimGrey ;
	margin: 150px auto; 
}


#display{
   
	margin-top:30px;
	margin-bottom: 20px;
	
	width: 220px;
	height: 20px;
	border:2px solid gray;
	
	text-align: right;
	font:20px bold;
	color:darkgray;
}


#keys{
  width: 41px;
  height: 35px;
  margin-left:10px;
  margin-bottom:20px;
  box-shadow: 0px 0px 30px gray;
  background: #484848;
  color:white;
  font:16px bold;
  font-style: Roboto;
  cursor:pointer;


}


#keys:hover{
  background: black;
 

}

#equal:hover{
  background: black;
 

}

#equal{
  width: 90px;
  height: 35px;
  margin-left:10px;
  margin-bottom:20px;
  box-shadow: 0px 0px 30px gray;
  background: #484848;
  color:white;
  font:16px bold;
  font-style: Roboto;
  cursor:pointer;


}